{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packing list</title>
</head>

<body>

    <h1>Pack your items for the vacation</h1>
    <a href="{% url 'add_packing_list' %}">
        <button>Add a new packing list</button>
    </a>

    <h2>All Packing Lists:</h2>
    <ol>
        {% for packinglist in packinglists %}
        <li>
            <h3>
                {{ packinglist.title }}
                <a href="{% url 'edit_packing_list' packinglist.id %}">
                    <button>Edit List</button>
                </a>
                <a href="{% url 'delete_item' 'packinglist' packinglist.id %}">
                    <button>Delete List</button>
                </a>
            </h3>

        </li>
        <ul>
            {% for task in packinglist.task_set.all %}
            <li> {% if task.completed %}
                <strike>{{ task.title }}</strike>
                {% else %}
                {{ task.title }}
                {% endif %}
                <a href="{% url 'toggle_task' task_id=task.id %}">
                    <button>Toggle</button>
                </a>
                <a href="{% url 'delete_item' 'task' task.id %}">
                    <button>Delete Task</button>
                </a>
            </li>

            {% endfor %}
        </ul>
        <a href="{% url 'add_task' %}?packing_list_id={{ packinglist.id }}">
            <button>Add Task</button>
        </a>
        {% endfor %}
    </ol>
</body>

</html>
{% endblock %}