<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packing list</title>
</head>

<body>
    <h1>Pack your items for the vacation</h1>
    <a href="{% url 'add_packing_list' %}">Add a packing list</a>

    <h2>All Packing Lists:</h2>
    <table>
        <tr>
            <th>List Name</th>
            <th>Tasks</th>
        </tr>
        {% for packinglist in packinglists %}
        <tr>
            <td>{{ packinglist.title }}</td>
            <td>
                <ul>
                    {% for task in packinglist.task_set.all %}
                    <li>{{ task.title }} {{ task.completed }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a href="{% url 'add_task' %}?packing_list_id={{ packinglist.id }}">
                    Add Task
                </a>
            </td>
            <td>
                <a href="{% url 'edit_packing_list' packinglist.id %}">
                    Edit List
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>