<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packing list</title>
</head>

<body>
    <h1>Pack your items for the vacation</h1>
    <a href="/add">Add a packing list</a>

    <h2>View existing lists here:</h2>
    <table>
        {% for list in packinglists %}
        <tr>
            <td>{{ list.title }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.completed }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>