/* Styles for index.html */

/* Global Styles */
/* Set height to 100% for both HTML and body elements */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background Image Styles */
/* Set background image for the body, covering the entire viewport */
body {
    background-image: url("https://res.cloudinary.com/dxajyjfpw/image/upload/v1690213072/beach.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Heading Styles */
/* Styles for main heading */
h1 {
    font-family: 'Poppins', sans-serif;
    color: #cd8253;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* Lead Text Styles */
/* Styles for lead text */
.lead {
    font-family: 'Poppins', sans-serif;
    color: #20a8b7;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/* Paragraph Styles */
/* Styles for regular paragraphs */
p {
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}

/* Button Styles */
/* Styles for primary button */
.btn {
    background-color: #7ebdaf;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

/* Button Hover Effect */
.btn:hover {
    background-color: #4dbba5;
}

/* Container Styles */
/* Styles for the main container */
.container-fluid {
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styles for navigation bar */

/* Navigation Bar Background */
.navbar {
    background-color: #FFF;
    transition: background-color 0.3s ease;
    padding: 10px;
    z-index: 1;
}

/* Navigation Bar Brand (Logo) */
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    color: #4c4c4c;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* Navigation Links */
.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

/* Navigation Links Hover Effect */
.navbar-nav .nav-link:hover {
    color: #cd8253;
    border-radius: 5px;
}

/* Styles for packinglist.html */

/* Hidden Element Style */
.hidden {
    display: none;
}

/* Main Container Style */
main.container {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    position: static;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Packing List Heading Style */
main.container h1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #cd8253;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

/* Tasks Heading Style */
main.container h2 {
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #20a8b7;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Paragraph Styles within Container */
main.container p {
    margin-bottom: 2rem;
    padding: 10px;
}

/* List Container Style */
.list-container {
    background-color: rgba(255,
            255,
            255,
            0);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table Styles */
table {
    letter-spacing: 0.1rem;
}

/* List Title Style */
.list-title h3 a.list-toggle {
    margin-right: 10px;
    color: #cd8253;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 1.6rem;
    white-space: nowrap;
}

/* List Title Hover Effect */
.list-title h3 a.list-toggle:hover {
    color: #bb581a;
}

/* List Title Container Style */
.list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* List Title Heading Style */
.list-title h3 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* List Buttons Styles */
.list-buttons .btn {
    margin-left: 5px;
    margin-bottom: 2px;
}

/* List Buttons Container Style */
.list-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Styles for Buttons in the List */
.btn.btn-primary.mb-3 {
    font-size: 1rem;
    background-color: #7ebdaf;
    margin-bottom: 2rem;
}

/* Button Hover Effect */
.btn.btn-primary.mb-3:hover {
    background-color: #4dbba5;
}

/* Secondary Button Styles */
.btn.btn-secondary.btn-sm {
    font-size: 0.7rem;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #3f9481;
}

/* Secondary Button Hover Effect */
.btn.btn-secondary.btn-sm:hover {
    background-color: #1a7864;
}

/* Success Button Styles */
.btn.btn-success.btn-sm {
    font-size: 0.7rem;
    padding: 10px;
    background-color: #3f9481;
}

/* Success Button Hover Effect */
.btn.btn-success.btn-sm:hover {
    background-color: #1a7864;
}

/* Danger Button Styles */
.btn.btn-danger.btn-sm {
    font-size: 0.7rem;
    padding: 10px;
    background-color: #d64a58;
}

/* Danger Button Hover Effect */
.btn.btn-danger.btn-sm:hover {
    background-color: #d32335;
}

/* Info Button Styles */
.btn.btn-info.btn-sm {
    font-size: 0.7rem;
    padding: 10px;
    background-color: #3f9481;
}

/* Info Button Hover Effect */
.btn.btn-info.btn-sm:hover {
    background-color: #1a7864;
}

/* Task List Styles */
.task-list {
    margin-bottom: 20px;
}

/* Task Item Styles */
.task-item {
    color: #20a8b7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
}

/* Task Title Styles */
.task-title {
    color: #20a8b7;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    padding: 20px;
}

/* Task Date Styles */
.task-item span.task-date {
    font-size: 0.5rem;
    color: #4c4c4c;
    font-weight: bold;
    font-family: sans-serif;
}

/* List Date Styles */
.list-date {
    font-size: 0.5rem;
    padding-right: 20px;
    font-weight: bold;
}

/* Styles for forms */

/* Form Container Styles */
main.container.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Label and Input Styles */
label,
input {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    color: #4c4c4c;
}

/* Label Padding */
label {
    padding: 10px;
}