{% extends 'base.html' %}

{% block content %}

<main class="container py-4">
    <h1 class="display-4">Edit Packing List</h1>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        {{ packing_list_form.as_p }}
        <h2 class="mt-4">Tasks:</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mt-3">
                {{ task_formset.management_form }}
                {% for form in task_formset %}
                <tr>
                    <td>{{ form.title.label_tag }}</td>
                    <td>{{ form.title }}</td>
                    <td>{{ form.completed.label_tag }}</td>
                    <td>{{ form.completed }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
</main>

{% endblock %}