{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packing List Home</title>
</head>

<body>
    <main>
        <h1>Start Packing...<br>We are going on a VACATION!</h1>
        <p>Click on the "Packing List App" link in the navigation
            above to create your packing lists.</p>
    </main>
</body>

</html>
{% endblock %}